# Environnement virtuel
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Notebooks Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Système d'exploitation
.DS_Store
Thumbs.db

# Logs et bases de données
*.log
*.sqlite
*.db

# Dossiers de distribution
dist/
build/

# Fichiers d'environnement
.env
.env.* 

**.__MACOSX
**.csv